<%= form_for Task.new, remote: true do |f| %>

  <div class="field">
    <%= f.text_field :description, placeholder: "Add a To-do", id: 'description-field', size: '100' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
