<h1>To-do List</h1>


<ul id="task-list">
  <% @tasks.each do |task| %>
    <%= render 'task_partial', task: task %>
  <% end %>
  </ul>

<br />
<span id="form-spot">
  <%= link_to 'New Task', new_task_path, remote: true, id: 'new-task-link' %>
</span>
